.search {
  display: flex;
  margin-top: 20px;

  &-input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;

    color: #575757;
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;

    &::placeholder {
      color: #C2C2C5;
      font-family: 'OpenSans';
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
    }
  }

  &-btn {
    color: #FFF;
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    border: none;
    outline: none;
    border-radius: 0px 4px 4px 0px;
    background: #3F3F3F;
    padding: 10px;
    cursor: pointer;
  }
}