$OpenSans: ('Regular', 400),
           ('Medium', 500),
           ('Bold', 700);

@each $name,$weight in $OpenSans{
  @font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-#{$name}.ttf');
    font-weight: $weight;
  }
}